@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:var(--font-PlusJakartaSans),
  Helvetica, sans-serif;
  background-color:#F6F7F9 ;
  color :#000000;

}

.container{
  max-width: 90vw;
  margin: auto;
}

.cencel::-webkit-search-cancel-button {
  display: none; /* Hides the clear button */
}

.shad{
  box-shadow:0.1px 0.1px 10px #3563E9;
}
.down{
  transition: all 0.3s;

}